<div class="header clearfix">
       <nav>
         <ul class="nav nav-pills pull-right">
           <li role="presentation" class="active"><a href="#">Home</a></li>
           <li role="presentation"><a href="#">About</a></li>
           <li role="presentation"><a href="#">Contact</a></li>
         </ul>
       </nav>
       <h3 class="text-muted"></h3>
     </div>

     <div class="jumbotron">
       <h1>PCBuilder</h1>
       <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
       <p><%= link_to "Try it now", maker_build_path, :class => "btn btn-lg" %> </p>
     </div>
